.btn{
    width: 180px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
form{
    width: 95%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 0px;

}
.botoes{
    flex-direction: row;
    display: flex;
    width: 31%;
    margin-left: 69%;
    margin-top: 30px;
}
