<form>
  <div class="entrada" id="entrada-superior">
    <div class="primeira-coluna">
      <input
        type="text"
        class="form-control"
        [formControl]="nome"
        placeholder="Nome"
      />
      <small>Nome do produto</small>
    </div>
    <div class="segunda-coluna">
      <input
        type="text"
        class="form-control"
        [formControl]="descricao"
        placeholder="Descrição"
      />
      <small>Nome do produto</small>
    </div>
  </div>
  <div class="entrada">
    <div class="primeira-coluna">
      <input
        type="text"
        class="form-control"
        placeholder="Valor"
        [formControl]="valor"
      />
      <small>Nome do produto</small>
    </div>
    <div class="segunda-coluna">
      <select>
        <option selected>Categoria</option>
        <option value="blusa">Blusa</option>
        <option value="vestido">Vestido</option>
        <option value="calca">Calça</option>
        <option value="tenis">Tênis</option>
      </select>
      <small>Nome do produto</small>
      <div class="botoes">
        <button type="button" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</form>
